{% extends "index.html" %}
{% block content %}

    <h1>{{ title }}</h1>

    <form method="GET" action="{% url 'lista-estudiantes-cursos' %} "class="mb-3">
        <div>
            <label for="estudiante">Buscar por estudiante:</label>
            <input type="text" name="estudiante" id="estudiante" placeholder="Nombre o apellidos" value="{{ request.GET.estudiante }}">
        </div>
        <div>
            <label for="curso">Buscar por curso:</label>
            <select name="curso" id="curso">
                <option value="">-- Seleccionar curso --</option>
                {% for c in cursos %}
                    <option value="{{ c.curso__id }}" {% if request.GET.curso == c.curso__id|stringformat:"s" %}selected{% endif %}>{{ c.curso__nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="estado">Buscar por estado:</label>
            <select name="estado" id="estado">
                <option value="">-- Seleccionar estado --</option>
                {% for e in estados %}
                    <option value="{{ e.estado }}" {% if request.GET.estado == e.estado %}selected{% endif %}>{{ e.estado }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Buscar</button>
    </form>
    
    {% if request.GET.estudiante or request.GET.curso or request.GET.estado %}
        <a href="{% url 'lista-estudiantes-cursos' %}" class="btn btn-secondary mb-3">Eliminar filtros</a>
    {% endif %}

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Estudiante</th>
                <th scope="col">Curso</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha final</th>
                <th scope="col">Estado</th>
                <th scope="col">Nota final</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante_curso in estudiantes_cursos %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ estudiante_curso.estudiante.nombre }} {{ estudiante_curso.estudiante.apellidos }}</td>
                <td>{{ estudiante_curso.curso.nombre }}</td>
                <td>{{ estudiante_curso.fechaInicio }}</td>
                <td>{{ estudiante_curso.fechaFinal }}</td>
                <td>{{ estudiante_curso.estado }}</td>
                <td>{{ estudiante_curso.notaFinal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botón para agregar nuevos estudiantes -->
    <a href="{% url 'formulario_estudiante_curso' %}" class="btn btn-primary">Agregar nuevo estudiante</a>

{% endblock %}