{% extends "index.html" %}
{% block content %}

    <h2>Agregar Estudiante</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Contenedor para los botones -->
        <div class="d-flex">
            <!-- Botón de Guardar Estudiante -->
            <button type="submit" class="btn btn-success w-50 me-2">Guardar Estudiante</button>
            <!-- Botón de Volver -->
            <a href="{% url 'lista-estudiantes' %}" class="btn btn-secondary w-50 align-items-center justify-content-center" style="line-height: 2.25rem;">Volver</a>
        </div>
    </form>

{% endblock %}
